UserManagementCore/.vs/
UserManagementCore/UserManagementCore/bin/
UserManagementCore/UserManagementCore/obj/
UserManagementEntityModel/bin/
UserManagementEntityModel/obj/
UserManagementCore/UserManagementCore.Tests/bin/
UserManagementCore/UserManagementCore.Tests/obj/
